# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Databases
*.sqlite3
*.db

# Environments and Secrets
.env

# Distribution / Build
build/
dist/
*.egg-info/

# Unit testing / coverage reports
.pytest_cache/

# IDEs and OS files
.idea/
.DS_Store
CLAUDE.md

# Temporary Notebooks
*test.ipynb